.mainStyle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 1rem 0px 0px 0px;
  transition: all 175ms ease;
}

.mainStyle:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
  text-decoration: underline;
}
